Source: wayshot
Section: main
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13),
               scdoc,
               build-essential,
               cargo,
Rules-Requires-Root: no

Package: wayshot
Architecture: linux-any
Depends: ${misc:Depends}
Provides: wayshot
Description: fast wayland screenshot tool
